yt-dlp>=2024.12.23
moviepy>=2.1.1
openai-whisper
torch
numpy
pillow
imageio[pyav]
imageio-ffmpeg
arabic-reshaper
python-bidi
python-dotenv
opencv-python
supabase
beautifulsoup4
lxml
gradio
gradio-client>=1.6.0
fastapi
uvicorn
psutil
playwright
edge-tts
google-genai
requests
websockets
huggingface_hub
tqdm
colorama
typing-extensions
pydantic